<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="d-flex justify-content-between flex-wrap">
      <div>
        <button
          type="button"
          class="btn btn-primary btn-rounded btn-icon"
          style="margin: 0; position: absolute; top: 50%; left: 40%"
          id="prev-bt"
          name="btn"
        >
          <i class="mdi mdi-arrow-left-bold"></i>
        </button>
        <button
          type="button"
          class="btn btn-primary btn-rounded btn-icon"
          style="margin: 0; position: absolute; top: 50%; right: 40%"
          id="next-bt"
          name="btn"
        >
          <i class="mdi mdi-arrow-right-bold"></i>
        </button>
      </div>
    </div>
  </div>
</div>
