<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile border-bottom">
      <a href="/main" class="nav-link flex-column">
        <div class="nav-profile-image">
          <img src="images/smith.png" alt="profile" />
          <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text d-flex ml-0 mb-3 flex-column">
          <span class="font-weight-semibold mb-1 mt-2 text-center"
            >스위스에서 온 스미스씨</span
          >
          <span class="text-secondary icon-sm text-center">편삼전일</span>
        </div>
      </a>
    </li>

    <li class="pt-2 pb-1">
      <span class="nav-item-head">메뉴</span>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/tonguetwister">
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
        <span class="menu-title">잰말놀이</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/colloquial">
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
        <span class="menu-title">신조어연습</span>
      </a>
    </li>
  </ul>
</nav>
