<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile border-bottom">
      <a href="/main" class="nav-link flex-column">
        <div class="nav-profile-image">
          <img src="images/smith.png" alt="profile" />
          <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text d-flex ml-0 mb-3 flex-column">
          <span class="font-weight-semibold mb-1 mt-2 text-center"
            >스위스에서 온 스미스씨</span
          >
          <span class="text-secondary icon-sm text-center">편삼전일</span>
        </div>
      </a>
    </li>

    <li class="pt-2 pb-1">
      <span class="nav-item-head">메뉴</span>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#ui-basic"
        aria-expanded="false"
        aria-controls="ui-basic"
      >
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
        <span class="menu-title">학습모드</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/exercise">학습예문 시작하기</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/school">학교</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/restaurant">음식점</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/greetings">인사</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/travel">여행</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/hospital">병원</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/shopping">쇼핑</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/practice">
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
        <span class="menu-title">원하는 텍스트 연습</span>
      </a>
    </li>
  </ul>
</nav>